@font-face {
    font-family: 'Eater';
    src: url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
}

body {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Eater', serif;
}

li {
    display: inline;
    font-family: 'Eater', serif;
    text-decoration: none;
}

#container{
    text-align: center;
}

nav {
    width: 30%;
    background-color: green;
}

main {
    width: 70%;
}
